@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --cor-primaria: #0C1844;
    --cor-retangulo: #FFF5E1;   
    --corFundo-botao: #FF6969;
    --cor-Fundo-Rodape: #C80036;
    --cor-BordaBotao: #000000;

    --fonte-primaria: 'Inter', sans-serif;
}

*{
    background: var(--cor-primaria);  
    font-size: 32px;
    line-height: 150%;               
}

body{
    
    height: 100vh; /* altura alterada para o padrão viewport-height */
    margin: 0; /* retirada da margem padrão dos navegadores */
    display: flex; /* definição do display flex para a utilização da altura da página por completo */
    flex-direction: column; /* direção da página em coluna para que o header, main e rodapé fiquem um abaixo do outro */
    justify-content: space-between; /* adicionando espaço automático entre os elementos header, main e rodapé para que o body ocupe a altura inteira da página */
    overflow: hidden; /* escondendo as barras de scroll, pois a barra de scroll inferior ativa a barra lateral */
}

.logoAlura{ 
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;   
}
.paginaCriptografia{     
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    height: 100%;  
}

.areaDigitacao__texto{           
    color: var(--cor-primaria);
    margin-top: 90px;
	text-transform: lowercase;  
    border: none;            
    background-color: var(--cor-retangulo); 
    border-radius: 24px; 
    font-family: var(--fonte-primaria);
    font-weight: 400;     
}

.areaDigitacao__Aviso{  
    color: var(--cor-Fundo-Rodape);
    font-size: 18px; 
    margin-top: 150px;   
}

.areaDigitacao__posicionarBotoes{
    display:flex;
    margin-top: 50px;           
}

.areaDigitacao__designBotaoCriptografar{             
    background-color: var(--corFundo-botao);         
    border: 1px solid var(--cor-BordaBotao);     
    border-radius: 24px;
    color: var(--cor-primaria);  
    cursor: pointer;
    font-family: var(--fonte-primaria);    
    font-weight: 400;
    height: 67px;
    width: 328px;   
}

.areaDigitacao__designBotaoDescriptografar{                
    background-color:var(--corFundo-botao);  
    border: 1px solid var(--cor-BordaBotao);     
    border-radius: 24px;
    color: var(--cor-primaria);
    cursor: pointer; 
    font-family: var(--fonte-primaria);
    font-weight: 400;  
    height: 67px;
    margin-left: 30px;
    width: 328px; 
}
         
.areaExibicao__texto{             
    background-color: var(--cor-retangulo);
    background-image: url(/img/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    margin-left: 98px;
    margin-top: 25px;
    padding-left: 20px;
    position: fixed;
    font-family: var(--fonte-primaria);
    font-weight: 400;  
    color: var(--cor-primaria);         
    cursor: pointer; 
    height: 500px;     
}


.areaExibicao__botao{              
    border: 1px solid var(--cor-BordaBotao);
    background-color: var(--corFundo-botao);
    border-radius: 24px;
    color: var(--cor-primaria);
    cursor: pointer;
    height: 67px;
    margin-left: 125px;
    margin-top: 430px;   
    position: absolute;
    width: 336px; 
}

.rodape{ 
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-Fundo-Rodape);
    border-radius: 24px;
    font-family: var(--fonte-primaria);
    color: var(--cor-retangulo);
    font-weight: 700; 
    text-align: center;
}

.semImagem {
    background-image: none;
}