@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --cor-primaria: #0C1844;
    --cor-retangulo: #FFF5E1;
    --corFonte-primaria:#0C1844;
    --corFundo-botao: #FF6969;
    --cor-BordaTextarea: #C80036;
    --cor-BordaBotao: #000000;

    --fonte-primaria: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;    
}

body{   
    background-color: var(--cor-primaria);
    height: 100vh;
    width: 100vw;         
}

  .footer {
    flex: 0 0 auto; /* Altura fixa */
  }

.logotipo{ 
    height: 1%;  
    width: 2%;   
}
.paginaCriptografia{ 
    flex: 1;
    box-sizing: border-box;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    gap: 40px;
}

.areaDigitacao__Aviso{  
    color: var(--cor-BordaTextarea);
    margin-top: 2%;
    margin-bottom: 5%;      
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;       
}

.paginaCriptografia__areaDigitacao{ 
    box-sizing: border-box;       
    width: 50vw;    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;       
}

.areaDigitacao__texto{           
    height: 12%;   
    width: 75%;    
    padding: 5%;  
    border: 0.5rem solid var(--cor-BordaTextarea);            
    background-color: var(--cor-retangulo); 
    border-radius: 1rem; 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 3rem;
}

.areaDigitacao__posicionarBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;        
}

.areaDigitacao__designBotaoCriptografar{        
    padding: 5% 10%;      
    background-color: var(--corFundo-botao);    
    font-size: 1rem;
    color: var(--corFonte-primaria); 
    border: 10px solid var(--cor-BordaBotao);     
    border-radius: 2rem; 
    cursor: pointer;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
}

.areaDigitacao__designBotaoDescriptografar{          
    padding: 5% 5%;     
    background-color:var(--corFundo-botao);   
    font-size: 1rem;
    color: var(--corFonte-primaria); 
    border: 10px solid var(--cor-BordaBotao);     
    border-radius: 2rem;
    cursor: pointer; 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
}

.paginaCriptografia__areaExibicao{
    box-sizing: border-box;    
    width: 50vw;  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
}
         
.areaExibicao__texto{         
    height: 12%;  
    width: 75%;       
    padding: 5%;   
    border: 0.5rem solid var(--cor-BordaTextarea);                
    border-radius: 1rem;
    background-color: var(--cor-retangulo);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 3rem;
}


.areaExibicao__botao{          
    padding: 2% 7%;   
    background-color: var(--corFundo-botao);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
    color: var(--corFonte-primaria);
    border: 10px solid var(--cor-BordaBotao);     
    border-radius: 2rem;
    cursor: pointer;
}

.rodape{   
    margin-top: 1%;       
    width: 100%;     
    border: 1px solid var(--corFonte-primaria);            
    background-color: var(--cor-BordaTextarea);
    border-radius: 1rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-retangulo);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem; 
}

@media (max-width: 727px){
    .header {
        flex: 0 0 auto; /* Altura fixa */
      }
    
      .footer {
        flex: 0 0 auto; /* Altura fixa */
      }

      .paginaCriptografia{       
        min-height: 100vh;
        width: auto;        
    }

    .rodape{      
        position: sticky;
        bottom: 0;
    }
}